///
/// Images
///

#cover {
    width: $page_width;
    height: $page_height;
    margin: 0;
    padding: 0;

    img {
        text-align: center;
        width: 100%;
        height: auto;
    }
}
